{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}

<div class="card mb-3" style="max-width: 44%;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/a/0/f/a0fc73919d_50166390_chaton.jpg" style="width: 17rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Voir l'événement</a>    
       </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 44%;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/a/0/f/a0fc73919d_50166390_chaton.jpg" style="width: 17rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Voir l'événement</a>    
       </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 44%;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/a/0/f/a0fc73919d_50166390_chaton.jpg" style="width: 17rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Voir l'événement</a>    
       </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 44%;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/a/0/f/a0fc73919d_50166390_chaton.jpg" style="width: 17rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Voir l'événement</a>    
       </div>
    </div>
  </div>
</div>


{% endblock %}
